{{ template "header.html" .}}

	<main class="container">

	  <section id="preview">
		<h2>CT Search for <kbd>{{ .DomainName }}</kbd></h2>
		<p>Results are for <i>unexpired</i> certificates and <i>deduplicated</i>.</p>
		
		<h4>By Issuing CA</h4>
		<figure>
			<table role="grid">
			<thead>
				<tr>
				<th scope="col"><b>CA Issuer</b></th>
				<th scope="col"><b># Certificates</b></th>
				<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{{ range .PerCAResults }}
				<tr>
					<td style="font-size:14px; text-align: left;">{{ .CAIssuerDN }}</td>
					<td style="text-align: center;">{{ .CertCount }}</td>
					<td><a href="/domainsearch/ca/{{ .CAID }}/{{ $.DomainName }}">filter by CA</a></td>
				</tr>
				{{ end }}
			</tbody>
			</table>
		</figure>

		<h4>All Certificates ({{ .ResultSize }} total)</h4>
		<h6><a href="/domainsearch/exportcsv/{{ .DomainName }}">Download results</a></h6>
		<figure id="certResults">
			<input class="search" placeholder="Search" />

			<table role="grid">
			<thead>
				<tr>
				<th scope="col"><b>Common Name</b></th>
				<th scope="col"><b>CA Owner</b></th>
				<th scope="col"><b>SAN Count</b></th>
				<th scope="col"><b>notBefore</b></th>
				<th scope="col"><b>notAfter</b></th>
				<th scope="col"><b>Cert Type</b></th>
				<th scope="col"><b>Validation</b></th>
				</tr>
			</thead>
			<tbody class="list">
				{{ range .CertResultsList }}
				<tr>
					<td class="commonname" style="font-size:14px; text-align: left;"><a href="https://crt.sh/?id={{ .CertID }}" target="_BLANK">{{ .CommonName }}</a></td>
					<td><small>{{ .CABrand }}</small></td>
					<td style="text-align: center;">{{ .SANCount }}</td>
					<td style="font-size:11px;">{{ .NotBefore }}</td>
					<td style="font-size:11px;">{{ .NotAfter }}</td>
					<td class="certtype">{{ .CertType }}</td>
					<td class="valtype">{{ .ValType }}</td>
				</tr>
				{{ end }}
			</tbody>
			</table>
		</figure>

	  </section>

	</main>
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
	<script type="text/javascript">
		var options = {
			valueNames: [ 'commonname', 'certtype', 'valtype' ]
		};

		var userList = new List('certResults', options);
	</script>
  </body>

{{ template "footer.html" .}}