<div id="menu">
	<div class="pure-menu">
		<a class="pure-menu-heading" href="/">keywork.app</a>

		<ul class="pure-menu-list">
			<span class="pure-menu-link">CT Search</span>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">&nbsp;&nbsp;&nbsp;&nbsp;...by Domain</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">&nbsp;&nbsp;&nbsp;&nbsp;...by Organisation</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">&nbsp;&nbsp;&nbsp;&nbsp;...by Domain List</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">CSR Decoder</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">CSR Generator</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">Self-signed Cert</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">Key checker</a></li>
			<li class="pure-menu-item"><a href="#" class="pure-menu-link">TLS Tester</a></li>

			<li class="pure-menu-item menu-item-divided pure-menu-selected">
				<a href="#" class="pure-menu-link"></a>
			</li>
		</ul>
	</div>
</div>